# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.env
*env/
*venv/
env.bak/
venv.bak/
# Django
db.sqlite3
*.log
media/
staticfiles/
.env
firebase-service-account.json

# VS Code
.vscode/


# MacOS
.DS_Store

# Docker
*.pid
*.sock
volumes/
*.db

# Migrations
**/migrations/*
!**/migrations/__init__.py

# Channels / Redis
redis-data/

# Node (si un jour tu ajoutes React)
node_modules/
build/
dist/

# Environment
.env
.env.local

#autre
env.example
firebase_credentials.json
*-firebase-adminsdk-*.json
start.sh
wait_for_db.py
