version: "3.8"

services:
  web:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: terimedi-web-prod
    ports:
      - "8000:8000"
    environment:
      - DJANGO_SETTINGS_MODULE=config.settings.prod
      - SECRET_KEY=${SECRET_KEY}
      - DATABASE_URL=${DATABASE_URL}
      - REDIS_URL=${REDIS_URL}
      - FIREBASE_CREDENTIALS_PATH=/app/firebase_credentials.json
    depends_on:
      - db
      - redis

  db:
    image: postgis/postgis:15-3.3
    container_name: terimedi-db-prod
    environment:
      POSTGRES_DB: terimedi
      POSTGRES_USER: terimedi
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
    volumes:
      - postgres_data:/var/lib/postgresql/data/

  redis:
    image: redis:7-alpine
    container_name: terimedi-redis-prod
    command: ["redis-server", "--appendonly", "yes"]
    volumes:
      - redis_data:/data

volumes:
  postgres_data:
  redis_data:
