

services:
  web:
    build: .
    command: daphne -b 0.0.0.0 -p 8000 config.asgi:application
    
    container_name: terimedi-web
    volumes:
      - .:/app
      - static_volume:/app/staticfiles
      - media_data:/app/media
    ports:
      - "8000:8000"
    environment:
      - POSTGRES_DB=terimedi
      - POSTGRES_USER=terimedi
      - POSTGRES_PASSWORD=teri_pass
      - POSTGRES_HOST=db
      - POSTGRES_PORT=5432
      - REDIS_URL=redis://redis:6379/0
      - REDIS_HOST=redis
      - REDIS_PORT=6379
      - DJANGO_SETTINGS_MODULE=config.settings.dev
    depends_on:
      db:
        condition: service_healthy
      redis:
        condition: service_healthy
    restart: unless-stopped

  db:
    image: postgis/postgis:15-3.3
    container_name: terimedi-db
    environment:
      POSTGRES_DB: terimedi
      POSTGRES_USER: terimedi
      POSTGRES_PASSWORD: teri_pass
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data/
    restart: unless-stopped
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U terimedi"]
      interval: 30s
      timeout: 10s
      retries: 3

  redis:
    image: redis:7-alpine
    container_name: terimedi-redis
    ports:
      - "6379:6379"
    restart: unless-stopped
    volumes:
      - redis_data:/data
    healthcheck:
      test: ["CMD", "redis-cli", "ping"]
      interval: 30s
      timeout: 10s
      retries: 3
    command: ["redis-server", "--appendonly", "yes"]

volumes:
  postgres_data:
  media_data:
  static_volume:
  redis_data:

